:root {
  --bg-color: rgb(82, 82, 82);
  --text-color: black;
  --nav-bg-color: #333;
  --nav-text-color: rgb(82, 82, 82);
}

[data-theme="dark"] {
  --bg-color: #333;
  --text-color: white;
  --nav-bg-color: #222;
  --nav-text-color: rgb(255, 255, 255);
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
  --nav-bg-color: #ffffff;
  --nav-text-color: rgb(63, 63, 63);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.navbar a {
  color: var(--nav-text-color);
}

.navbar a.active {
  background-color: var(--nav-text-color);
  color: var(--bg-color);
}

.theme-toggle-container {
  width: 75px;
  height: 30px;
  position: fixed;
  top: 20px;
  left: 15px;
}

.theme-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.theme-toggle-slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

[data-theme="dark"] .theme-toggle-slider {
  background-color: #333;
}

[data-theme="dark"] .theme-toggle-slider:before {
  transform: translateX(30px);
}

.theme-toggle-checkbox {
  display: none;
}
